---
---
@import 'p';

$font-family: Verdana, Georgia, "Times New Roman", serif;
$color-background: rgb(250,250,250);
$color-primary: rgb(38,38,38);
$color-primary-heading: rgb(8,8,8);
$color-secondary: rgb(186,186,186);
$color-tertiary: rgb(226,226,226);
$color-highlight: rgb(155,55,50);

$mini: 400px;
$medi: 677px;
$maxi: 1000px;

*, *:before, *:after {
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}

body {
font-family: $font-family;
font-size: 17px;
color: $color-primary;
line-height: 1.5;
}

.main, #foot {
margin-top: 3em;
max-width: $medi;

@media screen and (min-width: $medi) {
width: 67.5%;
margin: 3em auto 0;
}
}

h1, h2, h3, h4, h5, h6 {
font-family: $font-family;
font-weight: normal;
color: $color-primary-heading;

margin-top: 0;
}

h1 {
font-size: 2em;
margin-bottom: 0.7em;

* + & {
margin-top: 0.9em;
}
}

h2 {
font-size: 1.5em;
margin-bottom: 0.5em;

* + & {
margin-top: 0.7em;
}
}

h3 {
font-size: 1.2em;
margin-bottom: 0.4em;
font-style: italic;

* + & {
margin-top: 0.6em;
}
}

p {
line-height: 2em;
margin-top: 0;
margin-bottom: 0.5em;
}

li {
line-height: 1.5em;
margin-top: 0;
margin-bottom: 1em;
}

a {
color: $color-highlight;
text-decoration: none;
}

a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

a:visited {
color: #555555;
}

a:hover {
color: #000000;
}

a:focus {
color: #000000;
outline: thin dotted;
}

a:hover,
a:active {
outline: 0;
}

.pagination {
margin: 3em auto 2em;
text-align: center;
}

.btn {
display: inline-block;
padding: 8px 20px;
margin-bottom: 20px;
font-size: 14px;
font-size: 0.875rem;
color: #ffffff;
background-color: #222222;
border-color: #222222;
border-style: solid !important;
border-width: 2px !important;
}

.btn.title {
font-weight: 700;
}

.btn:visited {
color: #ffffff;
}

.btn:hover,
.btn.disable,
.btn.disable:visited,
.btn.disable:hover {
color: #222222;
background-color: #ffffff;
}

.btn-green {
color: #ffffff;
background-color: #5cb85c;
border-color: #5cb85c;
}

.btn-green:visited {
color: #ffffff;
}

.btn-green:hover,
.btn-green.disable,
.btn-green.disable:visited,
.btn-green.disable:hover {
color: #5cb85c;
background-color: #ffffff;
}

.btn-orange {
color: #ffffff;
background-color: #dd8338;
border-color: #dd8338;
}

.btn-orange:visited {
color: #ffffff;
}

.btn-orange:hover,
.btn-orange.disable,
.btn-orange.disable:visited,
.btn-orange.disable:hover {
color: #dd8338;
background-color: #ffffff;
}

.btn-red {
color: #ffffff;
background-color: #c64537;
border-color: #c64537;
}

.btn-red:visited {
color: #ffffff;
}

.btn-red:hover,
.btn-red.disable,
.btn-red.disable:visited,
.btn-red.disable:hover {
color: #c64537;
background-color: #ffffff;
}

.btn-blue {
color: #ffffff;
background-color: #308cbc;
border-color: #308cbc;
}

.btn-blue:visited {
color: #ffffff;
}

.btn-blue:hover,
.btn-blue.disable,
.btn-blue.disable:visited,
.btn-blue.disable:hover {
color: #308cbc;
background-color: #ffffff;
}

small {
font-size: 75%;
color: $color-secondary;
}

hr {
margin-top: 1.5em;
margin-bottom: 1.5em;
border: 0;
border-top: 1px solid $color-secondary;
}

.column {
padding: 1em;
}

.article-list {
padding: 0.7em;
list-style: none;
margin-top: 0px;
}

#i {
float: right;
visibility: hidden;
height: 333px;
width: auto;
padding: 18px 20px;
margin-bottom: 20px;
background-color: #308cbc;
border-color: #308cbc;
border-style: solid !important;
border-width: 2px !important;
}

blockquote {
  padding-left: 20px;
  font-style: italic;
  border-left: 5px solid #bbbbbb;
}

.footnotes {
border-top: 1px solid $color-secondary;
border-top-left-radius: 5px;
font-size: 0.7em;
margin-top: 5em;
}
